<% provide(:page_title, @post.title)%>
<% provide(:blog_active, 'active')%>

<div class="container post-list">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h1><%= @post.title %></h1>
    <p class="published"><%= @post.published_date %></p>
    <%= @post.body.html_safe %>
  </div>
</div>
<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'back to posts', posts_path, class: 'back-posts' %>
