<% provide(:page_title, @post.title)%>
<% provide(:blog_active, 'active')%>

<div class="container post-list">
  <!-- <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2"> -->
  <div>
    <h1><%= @post.title %></h1>
    <p class="published"><%= @post.published_date %></p>
    <p><%= raw(sanitize(@post.body)) %></p>
  </div>
</div>
<% if admin_signed_in? %>
  <%= link_to 'edit', edit_post_path(@post), class: 'back-posts' %> |
<% end %>
<%= link_to 'back to posts', posts_path, class: 'back-posts' %>
