<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">making<span class="light">Stuff</span></a>
    <ul class="nav justify-content-end">
      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to 'projects', projects_path, class: "nav-link #{yield(:projects_active)}"%>
        </li>
        <li class="nav-item">
          <%= link_to 'about', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'my posts', posts_path, class: "nav-link #{yield(:my_posts_active)}"%>
        </li>
        <li class="nav-item">
          <%= link_to 'log Out', destroy_admin_session_path, method: :delete, class: "nav-link"%>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'projects', projects_path, class: "nav-link #{yield(:projects_active)}"%>
        </li>
        <li class="nav-item">
          <%= link_to 'about', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'blog', posts_path, class: "nav-link #{yield(:blog_active)}"%>
        </li>
      <% end %>
    </ul>
</nav>
