<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | PersonalBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- This will give the div a class of "controller posts index" for example. This will be used for styling. -->
    <div class="container <%= controller_name %> <%= action_name %>">
      <%= render 'layouts/navbar'%>
      <%= yield %>
    </div>
  </body>
</html>
